.uk-navbar-container{
  padding-left: 15px;
  padding-right: 15px;
}

#logo{
  height: 2.5rem;
}

.reportText{
  padding: 3% 10%;
}

#reportform{
  padding: 3% 10%;
}

.greetings {
  padding: 20%;
}

.eventCards{
  padding: 3% 10%;
}

.eventCard:hover, .eventCard:visited, .eventCard:link, .eventCard:active
{
  text-decoration: none;
}

.eventCard{
  margin: 5%;
  cursor: pointer;
}

.timestamp{
  text-align: right;
}

.padding-top-card{
  padding:40px;
}

.event-card-title{
  text-align: center;
  font-size: 2rem !important;
}
.event-card-time{
  margin-top:0px;
}
.center{
  text-align: center;
}