.uk-navbar-container{
  padding-left: 15px;
  padding-right: 15px;
}

#logo{
  height: 2.5rem;
}

.reportText{
  padding: 3% 10%;
}

#reportform{
  padding: 3% 10%;
}

.greetings {
  padding: 20%;
}

.eventCards{
  padding: 3% 10%;
}

.eventCard:hover, .eventCard:visited, .eventCard:link, .eventCard:active
{
  text-decoration: none;
}

.eventCard{
  margin: 5%;
  cursor: pointer;
}

.timestamp{
  text-align: right;
}

.padding-top-card{
  padding:80px !important;
}

.uk-navbar-container {
  background: rgb(255, 255, 255, 0.65);
}
#reportcard{
  padding: 80px;
}
.uk-card-default {
  background: #ffffffe0 !important;
}
.event-card-title{
  text-align: center;
  font-size: 2rem !important;
}
.event-card-time{
  margin-top:0px;
}
.center{
  text-align: center;
}

h1.hometitle{
  font-size: 2.6rem;
}
.hometitle{
  color: white;
  text-align: center;
  padding: 2% 20%;
}

.uk-offcanvas-bar{
  background: #0f263cf0;
}

.navbarlist:hover{
  background: rgb(255,255,255, 0.1);
}

.severity-label{
  display: inline-flex !important;
  width: 5rem;
  justify-content: center;
  align-items: center;
  height:1.7rem;
}

.tag-input{
  width:12rem !important;
  display: inline-block !important;
  margin-right: 2rem !important;

}

.container-tag{
  padding:40px !important;
}

.tag-layout{
  padding: 4px 1rem !important;
  margin-right: 2rem !important;
  border-radius: 4px !important;
}