extends navbar

block page
    h1=name
    h2=description
    div(uk-slideshow)
        ul(class="uk-slideshow-items")
            li
                img(src="../images/mountain1.jpg" alt="" uk-cover)
            li
                img(src="../images/mountain2.jpg" alt="" uk-cover)
            li
                img(src="../images/mountain3.jpg" alt="" uk-cover)



