extends navbar

block page
    div(class="greetings")
        div(class="uk-card uk-card-default uk-card-body uk-animation-scale-up")
            p(class="uk-text-center") Thank you for your report!
            p(class="uk-text-center") Our scientists will be notified