extends navbar

block page
    div(class="uk-background-fixed uk-background-center-center uk-height-medium uk-width-large"
        style="background-image: url(/images/bg.png); height: 100vh; width: 100%; ")