extends navbar

block page
        div(style="padding-top:100px")
            h1(class="hometitle")="The first real-time notification system of the Matterhorn"
            h3(class="hometitle")="Let you be notified on the most recent event happened!"