extends navbar

block page
    div(class="uk-background-fixed uk-background-center-center uk-height-medium uk-width-large"
        style="background-image: url(/images/bg.png); height: 100vh; width: 100%; ")
        div(style="padding-top:100px")
            h1(class="hometitle")="The first real-time notification system of the Matterhorn"
            h3(class="hometitle")="Let you be notified on the most recent event happened!"