extends navbar

block page
    div(class="eventCards")
        for val in data
            a(href="/event_detail/"+val["id"], class="eventCard")
                div(class="uk-animation-toggle")
                    div(class="uk-card uk-card-default uk-card-body")
                        h2(class="uk-card-title", id=val["id"])=val["name"]
                        p=val["description"]
                        p(class="timestamp")=val["time"]
