extends layout

block nav
    nav(class="uk-navbar-container uk-navbar-transparent" uk-navbar)
        div(class="uk-navbar-left")
            a(href="/")
                img(src="/images/mountain_logo.png", alt="logo", id="logo")

        div(class="uk-navbar-center")
            a(id="ms-logo" href="/" class="uk-navbar-item uk-logo") Mattern Scout
        div(class="uk-navbar-right")
            a(class="uk-navbar-toggle", uk-toggle="target:  #offcanvas-nav-primary", uk-navbar-toggle-icon, href="#")

    div(id="offcanvas-nav-primary", uk-offcanvas="flip:true")
        div(class="uk-offcanvas-bar uk-flex uk-flex-column")
            ul(class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical")
                li(class="uk-active")
                    a(href="/events") Last events
                li(class="uk-active")
                    a(href="/report") Report event


    div(class="uk-background-fixed uk-background-center-center uk-height-medium uk-width-large"
        style="background-image: url(/images/bg.png); background-repeat: no-repeat;background-size: cover; height: 2000px;width: 100%;")
        block page
